@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Luxurious+Roman&display=swap');
:root {
    --primary-color: #112241;
    --secondary-color: #2C6827;
    --accent1-color: #93C3DC;
    --accent2-color: #F2F9F0;
}

* {
    margin: 0;
	padding: 0;
}

body {
    text-align: center;
    max-width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 5px 25% 25% 25% 25% 5px;
    background-color: var(--primary-color);
}

header img{
    width: 150px;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

nav {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    display: flex;
	flex-wrap: wrap;
    list-style: none;
	padding: 0;
}

nav a {
    flex: 1 1 auto;
    display: block;
    text-decoration: none;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: var(--accent1-color);
    border: 2px solid var(--accent2-color);
}

main {
    max-width: 1000px;
	margin-top: 150px;
    padding: 20px;
    padding-left: 25%;
    padding-right: 20%;
    text-align: center;
}

.herodiv {
    margin: 20px auto;
    position: relative;
}

.herodiv img {
    display: block;
    width: 100%;
	height: auto;
	object-fit: cover;
}

h1 {
    position: absolute;
	background: radial-gradient(#eee, var(--accent1-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    color: var(--primary-color);
    top: 206px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Condiment, sans-serif;
}

article img {
    width: 150px;
    height: auto;
    float: right;
}

article {
    position: absolute;
	background: var(--accent2-color);
	border: 1px solid #f0f8ed;
	padding: 3px;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}

article p {
    color: var(--secondary-color);
    padding-top: 20px;
}

.history {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 75%;
    margin-bottom: 30px;
}

.history h2 {
    grid-area: 1 / 1 / 2 / 6;
}

.p1 {
    grid-area: 2 / 1 / 6 / 3;    
}

.p2 {
    grid-area: 2 / 4 / 6 / 6;
}

.history img {
    width: auto;
    height: 100px;
    grid-column: 3 / 4;
}

h2{
    color: var(--primary-color);
    margin: 10px;
    font-family: Condiment, sans-serif;
}

p {
    color: var(--secondary-color);
    font-family: 'Luxurious Roman';
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

.adventure {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 50% 25%;
}

.adventure h2 {
    grid-area: 1 / 1 / 2 / 6;
}

figure img {
    width: auto;
    height: 100px;
    padding: 20px;
}

figcaption{
    color: var(--secondary-color);
}

footer {
    position: relative;
	bottom: 0;
	margin: 1rem;
	padding: 0.5rem;
	color: navy;
	font-weight: 700;
	font-style: italic;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 30px 30px 30px;
    grid-template-rows: 100%;
}

footer p {
    grid-column: 2 / 3;
}

footer img {
    text-decoration: none;
    width: 25px;
    height: auto;
    padding: 5px;
}