@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Luxurious+Roman&display=swap');
:root {
    --primary-color: #112241;
    --secondary-color: #2C6827;
    --accent1-color: #93C3DC;
    --accent2-color: #F2F9F0;
}

* {
    margin: 0;
	padding: 0;
}

body {
    text-align: center;
    max-width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 5px 25% 25% 25% 25% 5px;
    background-color: var(--primary-color);
}

header img{
    width: 150px;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

nav {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    display: flex;
	flex-wrap: wrap;
    list-style: none;
	padding: 0;
}

nav a {
    flex: 1 1 auto;
    display: block;
    text-decoration: none;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: var(--accent1-color);
    border: 2px solid var(--accent2-color);
}

main {
    max-width: 1000px;
	margin-top: 150px;
    padding: 20px;
    padding-left: 25%;
    padding-right: 20%;
    text-align: center;
}

.herodiv {
    margin: 20px auto;
    position: relative;
}

.herodiv img {
    display: block;
    width: 100%;
	height: auto;
	object-fit: cover;
}

h1 {
    position: absolute;
	background: radial-gradient(#eee, var(--accent1-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    color: var(--primary-color);
    top: 206px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Condiment, sans-serif;
}

article img {
    width: 150px;
    height: auto;
    float: right;
}

article {
    position: absolute;
	background: var(--accent2-color);
	border: 1px solid #f0f8ed;
	padding: 3px;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}

article p {
    color: var(--secondary-color);
    padding-top: 20px;
}

section {
    padding: 2rem;
}

.history {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 75%;
    margin-bottom: 30px;
}

.history h2 {
    grid-area: 1 / 1 / 2 / 6;
}

.p1 {
    grid-area: 2 / 1 / 6 / 3;    
}

.p2 {
    grid-area: 2 / 4 / 6 / 6;
}

.history img {
    width: auto;
    height: 100px;
    grid-column: 3 / 4;
}

h2{
    color: var(--primary-color);
    margin: 10px;
    font-family: Condiment, sans-serif;
}

p {
    color: var(--secondary-color);
    font-family: 'Luxurious Roman';
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

#gallery {
    width: 100%;
    display: grid;
}

.adventure {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 50% 25%;
}

.adventure h2 {
    grid-area: 1 / 1 / 2 / 6;
}

figure img {
    width: auto;
    height: 100px;
    padding: 20px;
    grid-row: 2 / 3;
}

figcaption{
    color: var(--secondary-color);
}

footer {
    position: relative;
	bottom: 0;
	margin: 0.1rem auto;
	padding: 0.5rem;
	color: navy;
	font-weight: 700;
	font-style: italic;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 30px 30px 30px;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #ccc7c7;
}

footer p {
    grid-column: 2 / 3;
}

footer img {
    text-decoration: none;
    width: 25px;
    height: auto;
    padding: 5px;
}

.wireframe {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

.company-info {
    align-items: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 25% 25% 25% 25%;
}

.company-info h1 {
    grid-area: 1 / 1 / 2 / 4;
}

#p1 {
    grid-area: 2 / 1 / 3 / 2;
}

#p2 {
    grid-area: 3 / 1 / 4 / 2;
}

#p3 {
    grid-area: 4 / 1 / 5 / 2;
}

iframe {
    width: 300px;
    height: auto;
    grid-area: 2 / 3 / 5 / 4;
}

.employees {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
}

.employees h2 {
    grid-area: 1 / 1 / 2 / 4;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1) ;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    color: var(--secondary-color);
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    color: var(--primary-color);
    font-size: 1.25rem;
    padding: 0.5rem;
}

label, input, button, select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.newsletter {
    width: 25px;
}

.newsletter label {
    width: 400px;
}

.form-item.purpose {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.form-item.purpose label {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.message {
    display: flex;
    align-items: center;
}

.message textarea {
    width: 400px;
}

button {
    background-color: var(--accent1-color);
    margin: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
}

button:hover {
    background-color: var(--accent2-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 5px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 5px;
}

#middle {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.call {
    border: 1px solid #f0f8ed;
    background-color: var(--accent2-color);
    grid-area: 2 / 1 / 5 / 2;
    text-align: center;
    padding: 10px;
    padding-top: 55px;
}

.call a {
    text-decoration: none;
    color: var(--secondary-color);
}

.call a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.signup {
    width: 400px;
    height: auto;
    grid-area: 1 / 3 / 6 / 4;
}

.home-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

.home-gallery h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 50px 1fr;
}

.trips h1 {
    grid-area: 1 / 1 / 2 / 3;
}

.description {
    grid-area: 2 / 1 / 3 / 2;
}

.table {
    grid-area: 2 / 3 / 3 / 3;
    color: var(--secondary-color);
}

table {
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    color: var(--primary-color);
}
  
thead, tfoot {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}
  
th, td {
    border: 1px solid var(--primary-color);
    padding: 8px 10px;
}
  
th {
    font-size: 15px; 
}

td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: var(--accent2-color);
}

.contact-call {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 10px;
}

.contact-call a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact-call a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-call p {
    color: var(--primary-color);
}